/* Estilos generales del slider */
.custom-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 500px;
    background-color: #000;
}

.custom-carousel-inner {
    display: flex;
    transition: transform 1s ease;
    height: 100%;
}

.custom-carousel-item {
    min-width: 100%;
    height: auto;
    display: none;
    opacity: 0;
    transform: translateX(20px) scale(0.95);
    transition: opacity 1s ease, transform 1s ease;
}

.active-slide {
    display: block;
    opacity: 1;
    transform: translateX(0) scale(1);
}

.custom-carousel-item img {
    object-fit: cover; /* Asegura que la imagen se ajuste dentro del contenedor */
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 0 auto;
    background-color: #000;
    transition: transform 1s ease;
}

.custom-carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
    background: rgb(0 0 0 / 81%);
    padding: 9px 30px;
    border-radius: 25px;
    z-index: 10;
}

.custom-carousel-indicators span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
}

.active-indicator {
    background-color: #424D07 !important;
    border-color: #424D07 !important;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .custom-carousel {
        max-height: 550px;
    }

    .custom-carousel-item img {
        max-height: 550px;
    }

    .custom-carousel-indicators {
        bottom: 10px;
        padding: 3px 8px;
        gap: 6px;
    }

    .custom-carousel-indicators span {
        width: 16px;
        height: 16px;
    }
}


/* Ocultar la versión móvil por defecto */
.mobile-slider {
    display: none;
}

/* Mostrar la versión móvil en pantallas pequeñas */
@media (max-width: 768px) {
    .desktop-slider {
        display: none;
    }
    .mobile-slider {
        display: block;
    }
}
